<!DOCTYPE html>
<html>
<head>
    <style type="text/css">
        html, body { margin: 0; padding: 0; }
        ul.menu { margin: 50px auto 0 auto; }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width", initial-scale="1">
<link rel="stylesheet" href="index.css">
</style>
</head>
<body>
<div class="container">
    <header>
        <img style="margin-left: 0px; margin-top: -10px;" src="https://ssfactory.hgodo.com/logo.png"></img>
        <nav>
            <ul class="peace">
                <li><a href="#">로그인</a></li>
                <li><a href="#">회원가입</a></li>
                <li><a class="red" href="#">즐겨찾기</a></li>
            </ul>
        </nav>
    </header>
</div>
<hr style="margin-top: -0.8%;">

<ul class="menu" style="margin-top: 5px; margin-left: 400px;">
    <li><a href="#">이용안내</a>
		<ul style="margin-right: 20px;">
			<li><a href="#">배송대행 이용방법</a></li>
			<li><a href="#">구매대행안내</a></li>
			<li><a href="#">타오바오 주소입력 방법</a></li>
            <li><a href="#">1688 주소입력 방법</a></li>
            <li><a href="#">관부가세안내</a></li>
            <li><a href="#">수입금지품목</a></li>
            <li><a href="#">폐기/검역안내</a></li>
            <li><a href="#">교환/반품안내</a></li>
            <li><a href="#">배송안내</a></li>
            <li><a href="#">재고관리시스템</a></li>
            <li><a href="#">노데이터 처리방법</a></li>
		</ul>

	<li><a href="#">배송대행</a>
		<ul style="margin-right: 20px;">
			<li><a href="#">배송대행 신청</a></li>
			<li><a href="#">대량등록(엑셀)</a></li>
			<li><a href="#">재고신청</a></li>
            <li><a href="#">등록상품 관리</a></li>
		</ul>

    <li><a href="#">구매대행</a>
        <ul>
            <li><a href="#">구매대행 신청</a></li>
            <li><a href="#">구매대행 재고신청</a></li>
        </ul>
	
	</li>
	<li><a href="#">LCL대행</a>
		<ul>
			<li><a href="#">LCL 이용방법</a></li>
            <li><a href="#">LCL 신청</a></li>
		</ul>
	</li>

    <li><a href="#">역배송대행</a>
		<ul>
			<li><a href="#">역배송대행 이용방법</a></li>
            <li><a href="#">배송비안내</a></li>
            <li><a href="#">역배송대행 신청</a></li>
		</ul>
	</li>

    <li><a href="#">도매몰</a>
		<ul>
			<li><a href="#">[JIK9TONG]도매몰</a></li>
            <li><a href="#">도매몰 엑셀등록</a></li>
            <li><a href="#">추천쇼핑몰</a></li>
		</ul>
	</li>

    <li><a href="#">고객센터</a>
		<ul>
			<li><a href="#">공지사항</a></li>
            <li><a href="#">자주하는질문</a></li>
            <li><a href="#">이용후기</a></li>
            <li><a href="#">이벤트</a></li>
            <li><a href="#">세무상담</a></li>
            <li><a href="#">개인통관부호신청</a></li>
            <li><a href="#">반입예정 스케줄</a></li>
		</ul>
	</li>

    <li><a href="#">마이페이지</a>
		<ul>
			<li><a href="#">마이홈</a></li>
            <li><a href="#">노데이터</a></li>
            <li><a href="#">역직구내역</a></li>
            <li><a href="#">결제페이지</a></li>
            <li><a href="#">예치금</a></li>
            <li><a href="#">포인트</a></li>
            <li><a href="#">불량상품</a></li>
            <li><a href="#">통관문제</a></li>
            <li><a href="#">경동택배</a></li>
            <li><a href="#">일대일문의</a></li>
            <li><a href="#">받은 쪽지함</a></li>
            <li><a href="#">회원정보수정</a></li>
            <li><a href="#">추가송장</a></li>
		</ul>
	</li>

</ul>
          </div>
        </li>
    </ul>
</ul>

<div class="sliding">
    <div class="w3-content w3-section">
        <img class="mySlides" src="https://ssfactory.hgodo.com/img_la.JPG">
        <img class="mySlides" src="https://ssfactory.hgodo.com/delivert.PNG">
        <img class="mySlides" src="https://ssfactory.hgodo.com/img_la.JPG">
    </div>
</div>

<div style="width:850px; height:450px; float:left; margin-left:25px; margin-top: 20px;">
    <a href="#">
    <img src="https://ssfactory.hgodo.com/mg_1.PNG" alt="#"></a>
</div>

<div style="width:800px; height:450px; float:left; margin-left:930px; margin-top:-430px;">
    <a href="#">
    <img src="https://ssfactory.hgodo.com/mg_2.PNG" alt="#"></a>
</div>


<div class="igemono1">
    <img src="https://ssfactory.hgodo.com/mg1.jpg" style="width: 200px; height: 250px;">
    <button class = "button1" type="button"><p>1:1 문의</p></button>
    </img>
</div>

<div class="igemono2">
    <img src="https://ssfactory.hgodo.com/mg1.jpg" style="width: 200px; height: 250px;">
    <button class = "button2" type="button"><p>통관조회</p></button>
    </img>
</div>

<div class="igemono3">
    <img src="https://ssfactory.hgodo.com/mg1.jpg" style="width: 200px; height: 250px;">
    <button class = "button3" type="button"><p>배송조회</p></button>
    </img>
</div>

<div class="igemono4">
    <img src="https://ssfactory.hgodo.com/mg1.jpg" style="width: 200px; height: 250px;">
    <button class = "button4" type="button"><p>중국 센타주소</p></button>
    </img>
</div>

<div class="igemono5">
    <img src="https://ssfactory.hgodo.com/mg1.jpg" style="width: 200px; height: 250px;">
    <button class = "button5" type="button"><p>개인통관고유번호 조회</p></button>
    </img>
</div>

<div class="igemono6">
    <img src="https://ssfactory.hgodo.com/mg1.jpg" style="width: 200px; height: 250px;">
    <button class = "button6" type="button"><p>반입 스케줄</p></button>
    </img>
</div>

<div class="banner_1">
    <img src="https://ssfactory.hgodo.com/banner_1.jpg">
</div>

<div class="shop_move">
    <hr class="line">
    <hr class="line2">
    <span class="shop_moving">[JIK9TONG] 도매몰</span>
</div>

<div class="banner_2">
    <a href="#"><img src="https://ssfactory.hgodo.com/banner_2.PNG"></a>
</div>

<script src="index.js">
</script>

</body>
</html>

